.div-login {
  display: flex;
  flex-flow: column;
}

.input-login {
  padding: 1ch;
  margin-bottom: 1ch;
  text-align: center;
}

.btn-login {
  padding: 1ch;
}

.div-dash {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

.days-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  margin-bottom: 1rem
}
.days-grid-headers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . . .";
  /* width: 11vw; */

}

.div-week-name {
  /* border: 1px solid snow; */
  padding-left: 1ch;
  padding-right: 1ch;
  width: 9.5vw;
  /* height: 2.2ch; */
  color: #fdcb9e;
  text-align: center;
  
}

.text-week-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: .77rem;
  margin-bottom: 1ch;
}
.div-day {
  background-color: snow;
  border: 1px solid snow;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
}
.div-day-other {
  background-color: snow;
  border: 1px solid snow;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
  opacity: 80%;
  cursor: pointer;
}

.p-day-number {
  margin: -1ch -.5ch;
  padding: 0;
}
.div-day-hover {
  background-color: #00b7c2;
  border: 1px solid #00b7c2;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
  cursor: pointer;
}


.div-month {
  background-color: #1b262c;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 2px; */
}

.div-month-name {
  width: 25ch;
  text-align: center;
}

.day-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-view-header p {
  font-style: italic;
}
.day-view-body div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.cal-month, .cal-day, .cal-year {
  color: #fdcb9e;
}
.span-cal-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-year h4 {
  margin-bottom: -1ch;
}

.li-event {
  padding: 1ch;
  background-color: #fdcb9e;
  color: #1b262c;
  border: 1px solid #fdcb9e;
  margin: 3px;
  cursor: pointer;
}

.li-event-hover {
  padding: 1ch;
  background-color: #fdcb9e;
  color: #1b262c;
  border: 1px solid #1b262c;
  margin: 3px;
  cursor: pointer;
}

.btn-month {
  color: #fdcb9e;
  background-color: #1b262c;
  box-shadow: none;
  border: none;
  padding: 2ch;
  cursor: pointer;
}

.h1-month {
  font-family: 'Great Vibes', cursive;
  font-size: 2.7rem;
  margin-bottom: 5px;
}

.text-year {
  font-family: 'Open Sans', sans-serif;
  font-size: .77rem;
  font-weight: 100;
  margin-top: 1rem;
  margin-bottom: 0;
}

.event-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-form input,button {
  padding: 1ch;
  margin: .25rem;
  text-align: center;
}

