.div-login {
  display: flex;
  flex-flow: column;
}

.input-login {
  padding: 1ch;
  margin-bottom: 1ch;
  text-align: center;
}

.btn-login {
  padding: 1ch;
}

.div-dash {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
}

.dash-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
}
.dash-grid-headers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . . . .";
  /* width: 11vw; */

}
.div-week-name {
  /* border: 1px solid snow; */
  /* padding-left: 1ch;
  padding-right: 1ch; */
  width: 11vw;
  /* height: 2.2ch; */
  color: #fdcb9e;
  text-align: center;
}

.div-day {
  background-color: snow;
  border: 1px solid snow;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
}
.div-day-other {
  background-color: snow;
  border: 1px solid snow;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
  opacity: 80%;
}
.div-day-hover {
  background-color: #00b7c2;
  border: 1px solid #00b7c2;
  padding: 1ch;
  width: 9vw;
  height: 9vw;
}

.div-calendar {
  margin-top: 25px;
}

.div-month {
  background-color: #1b262c;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 2px; */
}

.day-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-month, .cal-day, .cal-year {
  color: #fdcb9e;
}

.cal-year h4 {
  margin-bottom: -1ch;
}
